@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap');

$kumbhSans: "Kumbh Sans", sans-serif;
$FontSize1rem: 1rem;

$Orange: hsl(26, 100%, 55%);
$Paleorange: hsl(25, 100%, 94%);

// ### Neutral

$Verydarkblue: hsl(220, 13%, 13%);
$Darkgrayishblue: hsl(219, 9%, 45%);
$Grayishblue: hsl(220, 14%, 75%);
$Lightgrayishblue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$BlackOpacity75: hsl(0, 0%, 0%);
$BlackOpacity75: hsla(0, 0%, 0%, 0.904);